body {
    background-image: url("kuian.jpg");
    background-size: cover;
    font-family: cursive;
    text-align: center;
    height: 100vh;
}

.container {
   background-color: rgb(3, 51, 15);
    max-width: 50%;
    margin: auto;
    border: 3px solid rgb(16, 15, 15);
    border-radius: 10px;
    padding: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: azure;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color:azure
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    color: aliceblue;
    background: #242020;
}

#save-btn {
    color:black;
    background: darkgrey;
}

#save-el {
    font-weight: bold;
    color:aliceblue;
} 

